<div class="col-md-6 offset-md-3">
    <h3>Update Employee</h3>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for=" firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName"
                [(ngModel)]="employee.firstName">
            <div
                *ngIf="!myForm.get('firstName')?.valid && (myForm.get('firstName')?.dirty || myForm.get('firstName')?.touched)">
                <div *ngIf="myForm.get('firstName')?.errors?.['required']" class="error">Bạn chưa nhập First Name</div>
                <div *ngIf="myForm.get('firstName')?.errors?.['minlength']" class="error"> First Name phải nhiều hơn 3
                    kí tự</div>
                <div *ngIf="myForm.get('firstName')?.errors?.['maxlength']" class="error">First Name nhỏ hơn 50 kí tự
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName"
                [(ngModel)]="employee.lastName">
            <div
                *ngIf="myForm.get('lastName')?.invalid && (myForm.get('lastName')?.dirty || myForm.get('lastName')?.touched)">
                <div *ngIf="myForm.get('lastName')?.errors?.['required']" class="error">Bạn chưa nhập Last Name</div>
                <div *ngIf="myForm.get('lastName')?.errors?.['minlength']" class="error">Last Name phải nhiều hơn 3 kí
                    tự</div>
                <div *ngIf="myForm.get('lastName')?.errors?.['maxlength']" class="error">Last Name ít hơn 50 kí tự</div>
            </div>
        </div>
        <div class="form-group">
            <label for="emailId">Email:</label>
            <input type="email" class="form-control" id="emailId" formControlName="emailId"
                [(ngModel)]="employee.emailId">
            <div
                *ngIf="myForm.get('emailId')?.invalid && (myForm.get('emailId')?.dirty || myForm.get('emailId')?.touched)">
                <div *ngIf="myForm.get('emailId')?.errors?.['required']" class="error">Email chưa được nhập</div>
                <div *ngIf="myForm.get('emailId')?.errors?.['email']" class="error">Nhập sai định dạng email</div>
            </div>
        </div>
        <br>
        <button class="btn btn-success" type="submit" [disabled]="!myForm.valid">Submit</button>
    </form>
</div>